service cloud.firestore {
  match /databases/{database}/documents {
    match /items/{document=**} {
       allow read;
       allow write, create : if request.auth.uid == "E1XBJQol2adsPHYpY0icBnDTLNL2";
    }
    match /sections/{document=**} {
      allow read;
      allow write, create : if request.auth.uid == "E1XBJQol2adsPHYpY0icBnDTLNL2";
    }
    match /orders/{document=**} {
       allow read,create,write;
    }
    match /cart/{document=**} {
      allow read, write, create;
    }
    match /addresses/{document=**} {
      allow read;
    }
  }
}