  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span [routerLink]="''">بوابة التحكم</span>
      <span class="example-spacer"></span>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>

      <button mat-icon-button [matMenuTriggerFor]="appMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #appMenu="matMenu">
        <button mat-menu-item [routerLink]="'sections'">الأقسام</button>
        <button mat-menu-item>Help</button>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>
  
  <mat-tab-group>
  <mat-tab label="الجديد"> 
  <mat-list>

    <mat-list-item *ngFor="let i of newOrder | async " mat-button>
      <h3 matLine [routerLink]="'/orders/'+i.idEvent "> {{i.name }} </h3>
      <p matLine [routerLink]="'/orders/'+i.idEvent">
        {{i.phone}}
        <span>{{i.address1}} - {{i.address2}} </span>
      </p>
      <mat-menu #appMenu="matMenu">
        <!-- <button mat-menu-item (click)='changeStatus(i.idEvent,"work")'>جديد</button> -->
        <button mat-menu-item (click)='changeStatus(i.idEvent,"work")'>جاري العمل</button>
        <button mat-menu-item (click)='changeStatus(i.idEvent,"done")'>تم إنجازة</button>
        <button mat-menu-item (click)='changeStatus(i.idEvent,"deleted")'>المهملات</button>
      </mat-menu>


      <button mat-icon-button [matMenuTriggerFor]="appMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </mat-list-item>
  </mat-list>

  </mat-tab>
  <mat-tab label="قيد التنفيذ">
    <mat-list>
       <mat-list-item *ngFor="let i of workOrder | async " mat-button>
         <h3 matLine [routerLink]="'/orders/'+i.idEvent "> {{i.name }} </h3>
         <p matLine [routerLink]="'/orders/'+i.idEvent">
           {{i.phone}}
           <span>{{i.address1}} - {{i.address2}} </span>
         </p>
         <mat-menu #appMenu="matMenu">
           <button mat-menu-item (click)='changeStatus(i.idEvent,"work")'>جديد</button>
           <!-- <button mat-menu-item (click)='changeStatus(i.idEvent,"work")'>جاري العمل</button> -->
           <button mat-menu-item (click)='changeStatus(i.idEvent,"done")'>تم إنجازة</button>
           <button mat-menu-item (click)='changeStatus(i.idEvent,"deleted")'>المهملات</button>
         </mat-menu>


         <button mat-icon-button [matMenuTriggerFor]="appMenu">
           <mat-icon>more_vert</mat-icon>
         </button>
       </mat-list-item>
    </mat-list>
  </mat-tab>
  <mat-tab label="المنجز">
    <mat-list>
       <mat-list-item *ngFor="let i of doneOrder | async " mat-button>
         <h3 matLine [routerLink]="'/orders/'+i.idEvent "> {{i.name }} </h3>
         <p matLine [routerLink]="'/orders/'+i.idEvent">
           {{i.phone}}
           <span>{{i.address1}} - {{i.address2}} </span>
         </p>
         <mat-menu #appMenu="matMenu">
           <button mat-menu-item (click)='changeStatus(i.idEvent,"work")'>جديد</button>
           <button mat-menu-item (click)='changeStatus(i.idEvent,"work")'>جاري العمل</button>
           <!-- <button mat-menu-item (click)='changeStatus(i.idEvent,"done")'>تم إنجازة</button> -->
           <button mat-menu-item (click)='changeStatus(i.idEvent,"deleted")'>المهملات</button>
         </mat-menu>


         <button mat-icon-button [matMenuTriggerFor]="appMenu">
           <mat-icon>more_vert</mat-icon>
         </button>
       </mat-list-item>
    </mat-list>
  </mat-tab>
  <mat-tab label="مهمل">
    <mat-list>
       <mat-list-item *ngFor="let i of trushOrder | async " mat-button>
         <h3 matLine [routerLink]="'/orders/'+i.idEvent "> {{i.name }} </h3>
         <p matLine [routerLink]="'/orders/'+i.idEvent">
           {{i.phone}}
           <span>{{i.address1}} - {{i.address2}} </span>
         </p>
         <mat-menu #appMenu="matMenu">
           <button mat-menu-item (click)='changeStatus(i.idEvent,"work")'>جديد</button>
           <button mat-menu-item (click)='changeStatus(i.idEvent,"work")'>جاري العمل</button>
           <button mat-menu-item (click)='changeStatus(i.idEvent,"done")'>تم إنجازة</button>
           <!-- <button mat-menu-item (click)='changeStatus(i.idEvent,"deleted")'>المهملات</button> -->
           <button mat-menu-item (click)='delete(i.idEvent)'>حذف</button>
         </mat-menu>


         <button mat-icon-button [matMenuTriggerFor]="appMenu">
           <mat-icon>more_vert</mat-icon>
         </button>
       </mat-list-item>
    </mat-list>
  </mat-tab>
</mat-tab-group>
